
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}
body {
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQa_EW91c0f55lCDzBGvBitya9PKLLnC0TLcYcBqpbIB1JdFwNvAiubxA0kSL6Qx6ZvXw&usqp=CAU'), url('reddish/1.jpg');
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  color: wheat;
  text-align: center;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: no wrap;
  background: #093b66cc;
  height: 20%;
  width: 100vw;
  box-shadow: inset 0 0 14px 2px wheat,
              0 0 10px 5px wheat;
}

.box > h1 {
  text-shadow: 3px 3px 3px wheat;
} 


@media(max-width: 868px){
  body { 
    font-size: .8rem;;
  }
  .box > h1 {
    text-shadow: 2px 2px 2px wheat;
  }
}