@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {--yellow:#7D6608;--blue:#34568B;--blue-two:#154360;--blue-three:#004B8D;--green:#009B77;--green-two:#0B5345;--dark:#1B2631;--light:#DFCFBE;--red:#77212E;--red-two:#520505;--red-three:#9B2335;--sailor-blue:#2E4A62;}
body {
  width: minmax(95vw, 100vw);
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  color: wheat;
  background: var(--yellow);
}
.testimonials {
  width: 100%;
  height: 100%;
  padding: 90px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.card {
  background: #022f36;
  border-radius: 30px;
  padding: 30px;
  margin: 0;
  box-shadow: #888 inset 0px -6px 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card__header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.card__header h3 {
  font-size: 20px;
}
.card__header p {
  opacity: 60%;
} 
.card__img {
  border-radius: 50%;
  width: 60px;
  border: 4px solid var(--dark);
  margin-right: 10px;
}
.card__lead {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.3;
  margin: 20px 0;
}
.card__quote {
  font-size: 12px;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 20px;
  opacity: 80%;
}
.card--bg-purple {
  background: #452080;
  background-image: url('./images/bg-pattern-quotation.svg');
  background-repeat: no-repeat;
  background-position: top 10px right 100px;
}
.card--bg-gray-blue {
  background: #1b2d4a;
}
.card:nth-of-type(1) {
  grid-column: 1 / 3;
}
.card:nth-of-type(3) {
  background: var(--green-two);
  grid-row: 1 / 3;
  grid-column: 4 / 5;
  display: grid;
  align-items: start;
}
.card--bg-green .card__lead, .card--bg-green .card__quote {
  line-height: 2;
}
.card:nth-of-type(5) {
  grid-row: 2 / 3;
  grid-column: 2 / 4;
  background: var(--red-two);
}

@media (max-width: 1199px) and (min-width: 769px) {
  .testimonials {
    grid-template-columns: repeat(6, 1fr);
    padding: 20px;
  }
  .card:nth-of-type(1) {
    grid-column: 1 / 4;
  }
  .card:nth-of-type(2) {
    grid-column: 4 / 7;
  }
  .card:nth-of-type(3) {
    grid-row: 2 / 3;
    grid-column: 1 / 5;
  }
  .card--bg-green .card__lead, .card--bg-green .card__quote {
    line-height: 1.3;
  }
  .card:nth-of-type(4) {
    grid-row: 2 / 3;
    grid-column: 5 / 7;
  }
  .card:nth-of-type(5) {
    grid-row: 3 / 4;
    grid-column: 1 / 7;
    background: var(--red-two);
  }
}  
@media (max-width: 768px) {
  .testimonials {
    grid-template-columns: 1fr;
    padding: 20px;
  }
  .card:nth-of-type(1) {
    grid-column: 1;
  }
  .card:nth-of-type(3) {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }
  .card--bg-green .card__lead, .card--bg-green .card__quote {
    line-height: 1.3;
  }
  .card:nth-of-type(5) {
    grid-row: 5 / 6;
    grid-column: 1;
    background: var(--red-two);
  }
  
}
