* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --yellow: #7D6608;
  --blue: #34568B;
  --blue-two: #154360;
  --blue-three: #004B8D;
  --green: #009B77;
  --green-two: #0B5345;
  --dark: #1B2631;
  --light: #DFCFBE;
  --red: #77212E;
  --red-two: #520505;
  --red-three: #9B2335;
  --sailor-blue: #2E4A62;
}

body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
  font-weight: bold;
  line-height: 1.5;
  background: var(--dark);
  height: 100vh;
  width: 100vw;
}

.container {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  padding: 5%;
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(3, 1fr); 
  grid-auto-rows: minmax(100px ,auto);
  /* 
  grid-auto-columns: minmax(100px, 200px);
  align-items: end;
  justify-content: space-evenly;
  
  grid-auto-rows: minmax(100px, auto);
   */
}

.item {
  color: var(--light);
  font-size: 2.5vmin;
  padding: 1vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item:nth-of-type(1) {
  background: var(--green-two);
  /*grid-column-start: 1;
  grid-column-end: 3;
  grid-column: 1 / 3; */
  grid-column: 1 / span 2;
  padding: 15px;
}

.item:nth-of-type(2) {
  background: var(--sailor-blue);
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.item:nth-of-type(3) {
  background: #6B5876;
  grid-column: 1 / 3;
}

.item:nth-of-type(4) {
  background: var(--blue);
}

.item:nth-of-type(5) {
  background: var(--red-two);
  grid-column: 1 / 3;
  grid-row: 3 / 5;
}

.item:nth-of-type(6) {
  background: #005960;
}

.item:nth-of-type(7) {
  background: var(--red-three);
}

.item:nth-of-type(8) {
  background: var(--red); 
  grid-column: 2 / 4;
}

.item:nth-of-type(9) {
  background: var(--yellow);
  grid-column: 1 / span 3;
}


/* how to manipulate individual items */ 
/*
  .item:nth-of-type(2) {
  width: 50%;
  height: 25%;
  justify-self: end;
  align-self: end;
}
*/
